#second {
    width: 100%;
    height: max-content;
}

.row {

    width: 100%;
    height: 3rem;
    background-color: var(--maincolor--);
    justify-content: center;
    position: relative;
    display: flex;


}

.row ul {
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60%;
    height: inherit;
    list-style: none;
    display: inline-flex;
    justify-content: space-evenly;
    font-size: 1rem;
    padding: 0;
   
}

.row ul li {
    color: #fff;
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row ul li:hover{
    transition: all 0.2s ease-in-out;
    background-color: rgb(12, 13, 26);
}